.container { 
    height: 149px;
    position: relative;
    background-color: rgba(10, 37, 51, 0.4);
    background-position-x: 0%, 0%;
    background-position-y: 0%, 0%;
    background-repeat: repeat, repeat;
    background-attachment: scroll, scroll;
    background-image: linear-gradient(rgba(10, 37, 51, 0.4) 0px, rgba(10, 37, 51, 0) 100%), none;
    background-size: auto, auto;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
}

.header {
    background-color:#f4f4f4;
    display: block;
}

.userbar {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 12;
    text-rendering: optimizeSpeed;
    height: 100px;
    background-image: linear-gradient(to bottom, #ffffff 50%, #eeeeee);
}

.header-mobile {
    display: none;
}

@media (max-width: 1023px) {
    .header {
        display: none;
    }    

    .fields {
        display: none !important;
    }

    .header-mobile {
        display: block;
        background-color: #f4f4f4;
        height: 44px;
    }

    .logo {
        padding-top: 5px !important;
        padding-left: 5px;
        width: 93px;
        height: 23px;
    }

    .navigation {
        width: 100%;
    }

}

.page {
    background-color: #eeeeee;
}

.fast-menu {
    background-color: #fd2;
    width: max-content;
    height: 44px;
}

.list-menu {
    line-height: 44px;
    float: left;
}


.text-style {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    padding-right: 10px;
}


.text-style-navigation {
    font-size: 14px;
    padding-right: 10px;
}

.link {
    color: #004d99;
}

.link:hover {
    text-decoration-line: none;
    color: #06c;
}

.inline-item {
    display: inline-block;
    margin-bottom: -4px;
}

.logo {
    position: relative;
    padding-top: 15px;
}

.searh_input {
    background-image: url(https://img.icons8.com/material-outlined/24/000000/search--v1.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 12px 50%;    
    border: solid 1px #ccc;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-radius: 3px;
    box-sizing: border-box;
    outline: 0;
    padding: 0 10px 0 44px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    -o-transition: border .1s linear;
    transition: border .1s linear;
    position: relative;
    z-index: 1;
}

.searh_form {
    padding-top: 24px;
    width: 100%;
}

.navigation {
    background-color: #f4f4f4 !important;
    height: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.navigation:hover {
    scrollbar-width: thin;
}

.main {
    margin: 0 auto;
    background: #fff;
    border-top: solid 1px #d8d8d8;
    /* padding: 1px 1px 2px; */
    position: relative;
    z-index: 12;
    zoom: 1;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    color: #333;
}

.navigation-menu {
    white-space: nowrap;
}

.img-news {
    position: relative;
    height: 100%;
    width: 100% !important;
    z-index: 1;
}

.img-news:hover {
    opacity: 0.8;
}

.title {
    position: absolute;
    z-index: 12;
    white-space: normal;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
    color: white;
    font-size: 25px;
    line-height: 1;
    bottom: 10px;
    padding: 0 20px 0 0;
} 

.spec-Label {
    padding: 4px 10px 3px;
    background: #ffea00;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 12;
    line-height: 9px;
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: none;
    white-space: nowrap;
    color: #000;
}

.spec-Label:hover {
    text-decoration-line: none;
    background: #ff7300;
}

.page {
    display: block;
}

.plater {
    max-width: 1200px;
    min-width: 900px;
}

.body {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.body:hover {
    scrollbar-width: thin;
}