/* @sldsValidatorIgnore */
.container { 
    height: 149px;
    position: relative;
    background-color: rgba(10, 37, 51, 0.4);
    background-position-x: 0%, 0%;
    background-position-y: 0%, 0%;
    background-repeat: repeat, repeat;
    background-attachment: scroll, scroll;
    background-image: linear-gradient(rgba(10, 37, 51, 0.4) 0px, rgba(10, 37, 51, 0) 100%), none;
    background-size: auto, auto;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
}


.header {
    background-color:#f4f4f4;
}

.page {
    background-color: #eeeeee;
}

.fast-menu {
    background-color: #fd2;
    width: max-content;
    height: 44px;
}

.list-menu {
    line-height: 44px;
    float: left;
}


.text-style {
    font-size: 14px;
    font-family: 'Open Sans, Arial, Helvetica, Verdana,sans-serif';
    color: #000;
    font-weight: 600;
    padding-right: 10px;
}


.text-style-navigation {
    font-size: 14px;
    font-family: 'Open Sans, Arial, Helvetica, Verdana,sans-serif';
    padding-right: 10px;
}

.link {
    color: #004d99;
}

.link:hover {
    text-decoration-line: none;
    color: #06c;
}

.inline-item {
    display: inline-block;
    margin-bottom: -4px;
}

.header-bottom {
    height: 100px;
    background-image: linear-gradient(to bottom, #ffffff 50%, #eeeeee);
    /* background-color: white;  */
}

.logo {
    position: relative;
    padding-top: 15px;
}

.searh_input {
    /* background-image: url(/images/i-search.svg); */
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 12px 50%;
    border: solid 1px #ccc;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-radius: 3px;
    box-sizing: border-box;
    outline: 0;
    padding: 0 10px 0 44px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    -o-transition: border .1s linear;
    transition: border .1s linear;
    position: relative;
    z-index: 1;
}

.searh_form {
    padding-top: 24px;
    width: 100%;
}

.userbar {
    min-width: 980px;
    height: max-content;
    margin: 0 auto;
    position: relative;
    z-index: 12;
    text-rendering: optimizeSpeed;
}

.navigation {
    background-color: #f4f4f4 !important;
    height: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;

}

.navigation:hover {
    scrollbar-width: thin;
}

.main {
    min-width: 980px;
    margin: 0 auto;
    background: #fff;
    border-top: solid 1px #d8d8d8;
    /* padding: 1px 1px 2px; */
    position: relative;
    z-index: 12;
    zoom: 1;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    color: #333;
}

.navigation-menu {
    white-space: nowrap;
}

.img-news {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.img-news:hover {
    opacity: 0.4;
}

 .title {
    position: absolute;
    z-index: 12;
} 